@charset "UTF-8";

@font-face {
  font-family: "harc";
   src:url("https://dl.dropbox.com/s/4ca7j3nsltcbvk4/harc.eot");
  src:url("https://dl.dropbox.com/s/4ca7j3nsltcbvk4/harc.eot?#iefix") format("embedded-opentype"),
    url("https://dl.dropbox.com/s/1zwoy9z5oacfoog/harc.woff") format("woff"),
    url("https://dl.dropbox.com/s/gctchzdb1x98dan/harc.ttf") format("truetype"),
    url("https://dl.dropbox.com/s/w6vobpkdshttopf/harc.svg#starry") format("svg");
  font-weight: normal;
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "harc" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ha-"]:before,
[class*=" ha-"]:before {
  font-family: "harc" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ha-"],[class*=" ha-"]{display:inline-grid;}

.ha-crane:before {
  content: "\c20";
}
.ha-fleur-de-lis:before {
  content: "\c21";
}

.ha-master-ball:before {
  content: "\c22";
}
.ha-canon:before {
  content: "\c23";
}

.ha-tarot-card:before {
  content: "\c24";
}
.ha-book-stack:before {
  content: "\c25";
}
.ha-award:before {
  content: "\c26";
}

.ha-healing-potion:before {
  content: "\c27";
}

.ha-shooting-star:before {
  content: "\c28";
}

.ha-sweets:before {
  content: "\c29";
}
.ha-songbird:before {
  content: "\c30";
}
.ha-drumsticks:before {
  content: "\c31";
}

.ha-fitness:before {
  content: "\c32";
}
.ha-hello:before {
  content: "\c33";
}

.ha-magic:before {
  content: "\c34";
}
.ha-skull:before {
  content: "\c35";
}
