
  
/*Created by Christie / High for Viv. Do not steal. Please do not re-host without Viv's permission. */ 

@charset "UTF-8";

@font-face {
  font-family: "fluffy";
  src:url("//christieclee.github.io/highalo/viv/fluffy.eot");
  src:url("//christieclee.github.io/highalo/viv/fluffy.eot?#iefix") format("embedded-opentype"),
    url("//christieclee.github.io/highalo/viv/fluffy.woff") format("woff"),
    url("//christieclee.github.io/highalo/viv/fluffy.ttf") format("truetype"),
    url("//christieclee.github.io/highalo/viv/fluffy.svg#fluffy") format("svg");
  font-weight: normal;
  font-style: normal;
}


[data-icon]:before {
  font-family: "fluffy" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="vi-"]:before,
[class*=" vi-"]:before {
  font-family: "fluffy" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="st-"],[class*=" st-"]{display:inline-grid;}

.vi-paintbrush:before {
  content: "\fa";
}
.vi-lily:before {
  content: "\fb";
}
.vi-knife:before {
  content: "\fc";
}
.vi-snowdrop:before {
  content: "\fd";
}
.vi-ukelele:before {
  content: "\fe";
}

.vi-crane:before {
  content: "\ff";
}
.vi-neko:before {
  content: "\faa";
}
.vi-queen:before {
  content: "\fab";
}
.vi-star:before {
  content: "\fac";
}
.vi-thorn:before {
  content: "\fad";
}
