/*Created by Christie / High for Pandora. Do not steal. Please do not re-host without Pandora's permission. */ 

@charset "UTF-8";

@font-face {
  font-family: "pandora-box";
  src:url("//christieclee.github.io/highalo/pan/pandora-box.eot");
  src:url("//christieclee.github.io/highalo/pan/pandora-box.eot?#iefix") format("embedded-opentype"),
    url("//christieclee.github.io/highalo/pan/pandora-box.woff") format("woff"),
    url("//christieclee.github.io/highalo/pan/pandora-box.ttf") format("truetype"),
    url("//christieclee.github.io/highalo/pan/pandora-box.svg") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pandora-box" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pb-"]:before,
[class*=" pb-"]:before {
  font-family: "pandora-box" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pb-"],[class*=" pb-"]{display:inline-grid;}

.pb-tea:before {
  content: "\e000";
}
.pb-coffin:before {
  content: "\e001";
}
.pb-cat:before {
  content: "\e002";
}

.pb-mushroom-1:before {
  content: "\e003";
}
.pb-mushroom:before {
  content: "\e004";
}

.pb-bee:before {
  content: "\e005";
}
.pb-bee-1:before {
  content: "\e006";
}
.pb-lolly:before {
  content: "\e007";
}
.pb-skelly:before {
  content: "\e008";
}

.pb-fairy:before {
  content: "\e009";
}
.pb-sand:before {
  content: "\e00a";
}
.pb-succulent:before {
  content: "\e00b";
}

.pb-gem:before {
  content: "\e00c";
}

.pb-beetle:before {
  content: "\e00d";
}
.pb-heart-filled:before {
  content: "\e00e";
}

.pb-lotus:before {
  content: "\e900";
}
.pb-hourglass:before {
  content: "\e901";
}

.pb-candle:before {
  content: "\e102";
}
.pb-flower:before {
  content: "\e103";
}
.pb-wing:before {
  content: "\e104";
}

.pb-grimoire:before {
  content: "\e902";
}
