@font-face {
  font-family: 'whim';
  src:url("//christieclee.github.io/highalo/whim/whim.eot");
  src:url("//christieclee.github.io/highalo/whim/whim.eot?#iefix") format("embedded-opentype"),
    url("//christieclee.github.io/highalo/whim/whim.woff") format("woff"),
    url("//christieclee.github.io/highalo/whim/whim.ttf") format("truetype"),
    url("//christieclee.github.io/highalo/whim/whim.svg#starry") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wh-"], [class*=" wh-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'whim' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wh-beetle:before {
  content: "\e91e";
}

.wh-bird:before {
  content: "\e91f";
}
.wh-deer:before {
  content: "\e920";
}
.wh-fox:before {
  content: "\e921";
}
.wh-frog:before {
  content: "\e922";
}
.wh-sonnet-filled:before {
  content: "\e900";
}
.wh-cape-1:before {
  content: "\e90e";
}
.wh-cape-2:before {
  content: "\e90f";
}
.wh-cape-line:before {
  content: "\e910";
}
.wh-delete:before {
  content: "\e911";
}
.wh-edit:before {
  content: "\e912";
}
.wh-hat:before {
  content: "\e914";
}
.wh-keycap:before {
  content: "\e915";
}
.wh-speech-bubbles:before {
  content: "\e916";
}
.wh-speech-crown:before {
  content: "\e917";
}
.wh-map:before {
  content: "\e918";
}
.wh-open-book-2:before {
  content: "\e919";
}
.wh-plot:before {
  content: "\e91a";
}
.wh-quill-writing:before {
  content: "\e91b";
}
.wh-quote:before {
  content: "\e91c";
}
.wh-scroll-tied:before {
  content: "\e91d";
}
.wh-starburst-dot-line:before {
  content: "\e901";
}
.wh-starburst-filled:before {
  content: "\e902";
}
.wh-starburst-dot:before {
  content: "\e903";
}
.wh-starburst-line:before {
  content: "\e904";
}
.wh-starburst-orbit:before {
  content: "\e905";
}
.wh-starburst-stars-line:before {
  content: "\e906";
}
.wh-starburst-stars:before {
  content: "\e907";
}
.wh-starburst-bright-line:before {
  content: "\e908";
}
.wh-starburst-bright:before {
  content: "\e909";
}
.wh-sonnet:before {
  content: "\e90a";
}
.wh-ray-bottom:before {
  content: "\e90b";
}
.wh-ray-top:before {
  content: "\e90c";
}
.wh-rays:before {
  content: "\e90d";
}

.wh-gray-fox:before {
  content: "\e923";
}
.wh-leaf-frog:before {
  content: "\e924";
}
.wh-stag-beetle:before {
  content: "\e925";
}
.wh-tailor-bird:before {
  content: "\e92c";
}
.wh-whitetail-deer:before {
  content: "\e913";
}

.wh-civilian:before {
  content: "\e926";
}
.wh-faculty:before {
  content: "\e927";
}
.wh-ostara:before {
  content: "\e928";
}
.wh-staff:before {
  content: "\e929";
}
