.s-bee:before {
  content: "\e916";
}
.s-mandrake:before {
  content: "\e917";
}
.s-coin:before {
  content: "\e918";
}
.s-tree-4:before {
  content: "\e919";
}
.s-deer:before {
  content: "\e915";
}
.s-bird:before {
  content: "\e913";
}
.s-fox:before {
  content: "\e914";
}
.s-beetle:before {
  content: "\e90f";
}
.s-book:before {
  content: "\e910";
}
.s-shell:before {
  content: "\e911";
}
.s-windmill:before {
  content: "\e912";
}
.s-sparkle4b:before {
  content: "\e920";
}
.s-sparkle4a:before {
  content: "\e921";
}
.s-sparkle3b:before {
  content: "\e91e";
}
.s-sparkle3a:before {
  content: "\e91f";
}
.s-sign:before {
  content: "\e902";
}
.s-cat:before {
  content: "\e90e";
}
.s-backpack:before {
  content: "\e900";
}
.s-bell:before {
  content: "\e901";
}
.s-claw:before {
  content: "\e903";
}
.s-clover:before {
  content: "\e904";
}
.s-comet:before {
  content: "\e905";
}
.s-dog:before {
  content: "\e906";
}
.s-essay:before {
  content: "\e907";
}
.s-fire-filled:before {
  content: "\e908";
}
.s-fire:before {
  content: "\e909";
}
.s-frog:before {
  content: "\e90a";
}
.s-mouse:before {
  content: "\e90b";
}
.s-rainbow:before {
  content: "\e90c";
}
.s-scroll:before {
  content: "\e90d";
}
.s-stars:before {
  content: "\a136";
}
.s-sparkle2:before {
  content: "\a137";
}
.s-arrow-1:before {
  content: "\a114";
}
.s-arrow-2:before {
  content: "\a115";
}
.s-arrow-3:before {
  content: "\a116";
}
.s-astronomy:before {
  content: "\a117";
}
.s-casting:before {
  content: "\a118";
}
.s-ice-cream:before {
  content: "\a123";
}
.s-juice:before {
  content: "\a124";
}
.s-lollipop-heart:before {
  content: "\a125";
}
.s-lollipop-spiral:before {
  content: "\a126";
}
.s-lollipops:before {
  content: "\a127";
}
.s-martini:before {
  content: "\a128";
}
.s-mug:before {
  content: "\a129";
}
.s-potion:before {
  content: "\a130";
}
.s-strawberry:before {
  content: "\a131";
}
.s-trophy:before {
  content: "\a135";
}
.s-aloe:before {
  content: "\a53";
}
.s-badger:before {
  content: "\a19";
}
.s-branches:before {
  content: "\a54";
}
.s-bubbles:before {
  content: "\a1";
}
.s-candle:before {
  content: "\a32";
}
.s-cauldron:before {
  content: "\a18";
}
.s-chalice:before {
  content: "\a17";
}
.s-curse-book:before {
  content: "\a16";
}
.s-dark-magic:before {
  content: "\a33";
}
.s-eagle:before {
  content: "\a23";
}
.s-eclipse:before {
  content: "\a27";
}
.s-feather:before {
  content: "\a13";
}
.s-flower:before {
  content: "\a42";
}
.s-full-moon:before {
  content: "\a24";
}
.s-herb:before {
  content: "\a43";
}
.s-inkwell:before {
  content: "\a31";
}
.s-key:before {
  content: "\a6";
}
.s-keychain:before {
  content: "\a12";
}
.s-leaf:before {
  content: "\a44";
}
.s-lightning:before {
  content: "\a11";
}
.s-lion:before {
  content: "\a2";
}
.s-love-potion:before {
  content: "\a34";
}
.s-magic-eye:before {
  content: "\a3";
}
.s-mailbox:before {
  content: "\a29";
}
.s-mirror:before {
  content: "\a10";
}
.s-moon:before {
  content: "\a25";
}
.s-mushroom:before {
  content: "\a55";
}
.s-padlock:before {
  content: "\a22";
}
.s-pine:before {
  content: "\a45";
}
.s-poison:before {
  content: "\a36";
}
.s-quill:before {
  content: "\a30";
}
.s-rose:before {
  content: "\a46";
}
.s-scale:before {
  content: "\a47";
}
.s-seedling:before {
  content: "\a48";
}
.s-shield:before {
  content: "\a37";
}
.s-snake:before {
  content: "\a8";
}
.s-sparkle:before {
  content: "\a39";
}
.s-spell-book:before {
  content: "\a7";
}
.s-third-eye:before {
  content: "\a5";
}
.s-tower:before {
  content: "\a41";
}
.s-tree-2:before {
  content: "\a58";
}
.s-tree-3:before {
  content: "\a49";
}
.s-tree:before {
  content: "\a50";
}
.s-tulip:before {
  content: "\a52";
}
.s-unlock:before {
  content: "\a21";
}
.s-watering-can:before {
  content: "\a57";
}
.s-werewolf:before {
  content: "\a28";
}
.s-witch-hat:before {
  content: "\a9";
}
.s-acorn:before {
  content: "\a89";
}
.s-apple:before {
  content: "\a77";
}
.s-arrow:before {
  content: "\a90";
}
.s-balloon:before {
  content: "\a78";
}
.s-broken-arrow:before {
  content: "\a91";
}
.s-cherry:before {
  content: "\a81";
}
.s-cloud:before {
  content: "\61";
}
.s-cloudy:before {
  content: "\a66";
}
.s-crown:before {
  content: "\a92";
}
.s-crystal:before {
  content: "\a93";
}
.s-cupid:before {
  content: "\a94";
}
.s-divination:before {
  content: "\a95";
}
.s-eclipse-1:before {
  content: "\a67";
}
.s-fruit-tree:before {
  content: "\a82";
}
.s-heart-1:before {
  content: "\a96";
}
.s-heart-2:before {
  content: "\a97";
}
.s-heart-fill:before {
  content: "\a99";
}
.s-house-1:before {
  content: "\a79";
}
.s-juicebox:before {
  content: "\a100";
}
.s-money-bag:before {
  content: "\a83";
}
.s-orange:before {
  content: "\a84";
}
.s-overcast:before {
  content: "\a68";
}
.s-peach:before {
  content: "\a85";
}
.s-pear:before {
  content: "\a86";
}
.s-rain:before {
  content: "\a75";
}
.s-sapling:before {
  content: "\a87";
}
.s-snow:before {
  content: "\a74";
}
.s-snowflake:before {
  content: "\a73";
}
.s-storm:before {
  content: "\a72";
}
.s-sun:before {
  content: "\a71";
}
.s-sunfish:before {
  content: "\a88";
}
.s-teabag:before {
  content: "\a103";
}
.s-teacup:before {
  content: "\a102";
}
.s-teapot:before {
  content: "\a101";
}
.s-tornado:before {
  content: "\a70";
}
.s-weather-vane:before {
  content: "\a69";
}
.s-wind:before {
  content: "\a76";
}
