
  
/*Created by Christie / High for Alohomora. Please do not steal or re-host outside of Alohomora. */ 

@charset "UTF-8";

@font-face {
  font-family: "starry";
  src:url("//christieclee.github.io/highalo/starry/starry.eot");
  src:url("//christieclee.github.io/highalo/starry/starry.eot?#iefix") format("embedded-opentype"),
    url("//christieclee.github.io/highalo/starry/starry.woff") format("woff"),
    url("//christieclee.github.io/highalo/starry/starry.ttf") format("truetype"),
    url("//christieclee.github.io/highalo/starry/starry.svg#starry") format("svg");
  font-weight: normal;
  font-style: normal;

}



[data-icon]:before {
  font-family: "starry" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="s-"]:before,
[class*=" s-"]:before {
  font-family: "starry" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class^="s-"],[class*=" s-"]{display:inline-grid;}

.s-aloe:before {
  content: "\a53";
}
.s-badger:before {
  content: "\a19";
}
.s-branches:before {
  content: "\a54";
}
.s-bubbles:before {
  content: "\a1";
}
.s-candle:before {
  content: "\a32";
}
.s-cauldron:before {
  content: "\a18";
}
.s-chalice:before {
  content: "\a17";
}
.s-curse-book:before {
  content: "\a16";
}
.s-dark-magic:before {
  content: "\a33";
}
.s-door-knocker:before {
  content: "\a15";
}
.s-dueling:before {
  content: "\a14";
}
.s-eagle:before {
  content: "\a23";
}
.s-eclipse:before {
  content: "\a27";
}
.s-feather:before {
  content: "\a13";
}
.s-flower:before {
  content: "\a42";
}
.s-full-moon:before {
  content: "\a24";
}
.s-herb:before {
  content: "\a43";
}
.s-inkwell:before {
  content: "\a31";
}
.s-key:before {
  content: "\a6";
}
.s-keychain:before {
  content: "\a12";
}
.s-leaf:before {
  content: "\a44";
}
.s-lightning:before {
  content: "\a11";
}
.s-lion:before {
  content: "\a2";
}
.s-love-potion:before {
  content: "\a34";
}
.s-magic-eye:before {
  content: "\a3";
}
.s-mailbox:before {
  content: "\a29";
}
.s-mirror:before {
  content: "\a10";
}
.s-moon:before {
  content: "\a25";
}
.s-mushroom:before {
  content: "\a55";
}
.s-nimbus:before {
  content: "\a35";
}
.s-open-book:before {
  content: "\a56";
}
.s-owl-post:before {
  content: "\a26";
}
.s-padlock:before {
  content: "\a22";
}
.s-pine:before {
  content: "\a45";
}
.s-poison:before {
  content: "\a36";
}
.s-quill:before {
  content: "\a30";
}
.s-rose:before {
  content: "\a46";
}
.s-scale:before {
  content: "\a47";
}
.s-seedling:before {
  content: "\a48";
}
.s-shield:before {
  content: "\a37";
}
.s-snake:before {
  content: "\a8";
}
.s-snitch:before {
  content: "\a38";
}
.s-sparkle:before {
  content: "\a39";
}
.s-spell-book:before {
  content: "\a7";
}
.s-spell:before {
  content: "\a40";
}
.s-third-eye:before {
  content: "\a5";
}
.s-time-turner:before {
  content: "\a20";
}
.s-tower:before {
  content: "\a41";
}
.s-tree-2:before {
  content: "\a58";
}
.s-tree-3:before {
  content: "\a49";
}
.s-tree:before {
  content: "\a50";
}
.s-tropic:before {
  content: "\a51";
}
.s-tulip:before {
  content: "\a52";
}
.s-unlock:before {
  content: "\a21";
}
.s-waning-moon:before {
  content: "\a112";
}
.s-watering-can:before {
  content: "\a57";
}
.s-werewolf:before {
  content: "\a28";
}
.s-witch-hat:before {
  content: "\a9";
}
.s-gear:before {
  content: "\a111";
}
.s-alo:before {
  content: "\a110";
}
.s-civilian:before {
  content: "\a109";
}
.s-gryffindor:before {
  content: "\a105";
}
.s-acorn:before {
  content: "\a89";
}
.s-apple:before {
  content: "\a77";
}
.s-arrow:before {
  content: "\a90";
}
.s-balloon:before {
  content: "\a78";
}
.s-broken-arrow:before {
  content: "\a91";
}
.s-cherry:before {
  content: "\a81";
}
.s-cloud:before {
  content: "\61";
}
.s-cloudy:before {
  content: "\a66";
}
.s-crown:before {
  content: "\a92";
}
.s-crystal:before {
  content: "\a93";
}
.s-cupid:before {
  content: "\a94";
}
.s-divination:before {
  content: "\a95";
}
.s-eagle-flipped:before {
  content: "\a59";
}
.s-eclipse-1:before {
  content: "\a67";
}
.s-faculty:before {
  content: "\a104";
}
.s-fruit-tree:before {
  content: "\a82";
}
.s-galleon-s:before {
  content: "\a64";
}
.s-galleon:before {
  content: "\a62";
}
.s-heart-1:before {
  content: "\a96";
}
.s-heart-2:before {
  content: "\a97";
}
.s-heart-3:before {
  content: "\a98";
}
.s-heart-fill:before {
  content: "\a99";
}
.s-house-1:before {
  content: "\a79";
}
.s-house-2:before {
  content: "\a80";
}
.s-hufflepuff:before {
  content: "\a106";
}
.s-juicebox:before {
  content: "\a100";
}
.s-lion-flipped:before {
  content: "\a60";
}
.s-money-bag:before {
  content: "\a83";
}
.s-orange:before {
  content: "\a84";
}
.s-overcast:before {
  content: "\a68";
}
.s-peach:before {
  content: "\a85";
}
.s-pear:before {
  content: "\a86";
}
.s-rain:before {
  content: "\a75";
}
.s-ravenclaw:before {
  content: "\a107";
}
.s-sapling:before {
  content: "\a87";
}
.s-slytherin:before {
  content: "\a108";
}
.s-snake-flipped:before {
  content: "\a61";
}
.s-snow:before {
  content: "\a74";
}
.s-snowflake:before {
  content: "\a73";
}
.s-storm:before {
  content: "\a72";
}
.s-sun:before {
  content: "\a71";
}
.s-sunfish:before {
  content: "\a88";
}
.s-teabag:before {
  content: "\a103";
}
.s-teacup:before {
  content: "\a102";
}
.s-teapot:before {
  content: "\a101";
}
.s-tornado:before {
  content: "\a70";
}
.s-weather-vane:before {
  content: "\a69";
}
.s-wind:before {
  content: "\a76";
}

.s-flying-letter:before {
  content: "\a63";
}

.s-alchemy:before {
  content: "\a112";
}
.s-ancient-runes:before {
  content: "\a113";
}
.s-arrow-1:before {
  content: "\a114";
}
.s-arrow-2:before {
  content: "\a115";
}
.s-arrow-3:before {
  content: "\a116";
}
.s-astronomy:before {
  content: "\a117";
}
.s-casting:before {
  content: "\a118";
}
.s-dada:before {
  content: "\a119";
}
.s-griffin:before {
  content: "\a120";
}
.s-herbology:before {
  content: "\a121";
}
.s-hippogriff:before {
  content: "\a122";
}
.s-ice-cream:before {
  content: "\a123";
}
.s-juice:before {
  content: "\a124";
}
.s-lollipop-heart:before {
  content: "\a125";
}
.s-lollipop-spiral:before {
  content: "\a126";
}
.s-lollipops:before {
  content: "\a127";
}
.s-martini:before {
  content: "\a128";
}
.s-mug:before {
  content: "\a129";
}
.s-potion:before {
  content: "\a130";
}
.s-strawberry:before {
  content: "\a131";
}
.s-transfiguration:before {
  content: "\a134";
}
.s-trophy:before {
  content: "\a135";
}

.s-stars:before {
  content: "\a136";
}
.s-sparkle2:before {
  content: "\a137";
}

.s-sign:before {
  content: "\e902";
}
.s-cat:before {
  content: "\e90e";
}
.s-backpack:before {
  content: "\e900";
}
.s-bell:before {
  content: "\e901";
}
.s-claw:before {
  content: "\e903";
}
.s-clover:before {
  content: "\e904";
}
.s-comet:before {
  content: "\e905";
}
.s-dog:before {
  content: "\e906";
}
.s-essay:before {
  content: "\e907";
}
.s-fire-filled:before {
  content: "\e908";
}
.s-fire:before {
  content: "\e909";
}
.s-frog:before {
  content: "\e90a";
}
.s-mouse:before {
  content: "\e90b";
}
.s-rainbow:before {
  content: "\e90c";
}
.s-scroll:before {
  content: "\e90d";
}

.s-quote:before {
  content: "\e90f";
}
.s-edit:before {
  content: "\e910";
}
.s-delete:before {
  content: "\e911";
}
